*.class

bin/
target/
log/

.DS_Store
.project
.classpath/
.idea/
.settings/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
# Package Files #
*.jar
*.war
*.ear